body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cube {
  transform: scaleX(1.1) scaleY(1.8) scaleZ(1.6) rotateX(137deg) rotateY(128deg) rotateZ(0deg) translateX(-22px) translateY(0px) translateZ(-51px) skewX(-16deg) skewY(-9deg);
}
.cube-wrap {
  perspective: 1420px;
  perspective-origin: 74% 65%;
}